@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Zpix;
  src: url("/Zpix.woff2");
}

html, body, pre, code, kbd, samp {
  font-family: Zpix;
}

body {
  scroll-behavior: smooth;
  --body-height: calc(100vh - 96px);
  // overflow-x: hidden;
}

.section {
  height: var(--body-height);
  position: sticky;
  top: 96px;
}
